<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <%
        if(typeof error != 'undefined'){
            %>
            <h3 style="color: red;"><%= error %></h3>
            <%
        }
    %>
   
   <form action="/reset_password?token=<%= resetData.token %>" method="POST">
    <input type="hidden" name="user_id" value="<%= resetData.user_id %>">
    <input type="password" name="password" placeholder="new password" required>
    <br><br>
    <input type="password" name="c_password" placeholder="confirm password" required>
    <br><br>
    <input type="submit" value="Reset Password">
   </form>
</body>
</html>